
.auth-background {
  /* Full screen gradient */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  /* Linear gradient */
  background: linear-gradient(135deg, #de594a 0%, #c54822 50%, #2e2101 100%);
}